h1 {
  color: blueviolet;
}

html {
  background-color: #F5F1E7;
}

:root {
  --forest-green: #3B4138;
  --olive-green: #C6CDBC;
  --beige: #F5F1E7;
  --burgundy: #451B20;
  --dark-blue: #14171F;
}


/*****NAVBAR****/



nav {
  background-color: var(--forest-green);
  height: 75px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

nav li {
  text-align: center;
  list-style-type: none;
  color: #fff;
  /* padding: 2%; */
  width: auto;
  margin: 10px;
  background-color: transparent;
  
}

nav li:hover {
  height: 7px;
  background-color: var(--olive-green);
  transition: ease 0.5s;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

/***** Home hero *****/

.hero {
  margin: 8vw;
  background-color: var(--burgundy);
}

.hero-img {
  background: url(./images/rice-fields-ind.jpeg) no-repeat center;
  background-size: cover;
  width: 65vw;
  height: 70vh;
  transform: translate(-5vw, 5vh);
  z-index: 1;
}

.hero-text {
  text-align: center;
  position: absolute;
  padding: 10vw 20vw 0 10vw;
  /* width: 80vh; */
  /* height: 100vh; */
  white-space: nowrap;
  right: 0;
  z-index: 2;
}

.hero-text span {
  line-height: 5vh;
  background-color: var(--beige);
  /* height: 5px; */
  position: relative;
  /* margin-top: 1vh; */
}

.hero-text h3 {
  /* padding: 1vh; */
}