/*****FONTS****/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***** Globals *****/
h1 {
  color: blueviolet;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  /* background-color: #F5F1E7; */
}

:root {
  --forest-green: #21451B;
  --light-olive-green: #B8C6A5;
  --beige: #D9CAB3;
  --sand: #C08457;
  --text: #36454F;
}


/*****NAVBAR****/

.navBar {
/* background-color: var(--light-olive-green); */
/* margin: 0; */
/* padding: 0; */
}

.navBar h1 {
  margin: 0;
  /* padding: 0; */
}

nav {
  background-color: var(--light-olive-green);
  height: 10vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
}


nav li {
  /* text-align: center; */
  list-style-type: none;
  /* color: var(--light-olive-green); */
  margin-right: 2vw;
  background-color: transparent;
  border: .5vh solid transparent;
}

nav li:hover {
  border: var(--sand) .5vh solid;
  /* color: #B8C6A5; */
  transition: none;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  font-size: 1.5vw;
}

/***** Home hero *****/


.hero {
  /* margin-top: 5vh; */
  position: relative;
  background: url(./images/mae-hong-son.jpeg) no-repeat bottom;
  background-size: cover;
  width: 100vw;
  height: 90vh;
}

.overlay {
  position: absolute;
  height: 81vh;
  width: 100vw;
  background-color: rgba(33, 69, 27, 0.3);
}

.hero-text {
  color: #fff;
  /* text-align: center; */
  position: absolute;
  /* white-space: nowrap; */
  /* right: 0; */
  z-index: 2;
  padding-top: 10vh;
  padding-left: 5vw;
}

.hero-text span {
  font-family: "Merriweather", serif;
  /* font-size: 2.5vw; */
  font-weight: 100;
  padding-bottom: 1vh;
  /* background-color: var(--forest-green); */
  color: var(--beige);
  /* display: flex; */
  /* background: linear-gradient(to top, var(--olive-green) 80%, transparent 0%); */
}



.hero-text h2 {
  font-family: "Merriweather", serif;
  font-weight: 100;
  color: var(--beige);
  background-color: var(--forest-green);
  font-size: 3vw;
}
.rn-span {
 font-size: 5vw; 
 text-decoration: underline;
 text-decoration-thickness: 3px;
}

.hero-text h4 {
  border: var(--beige).75vh solid;
  /* width: 35vh; */
  width: 20vw;
  height: 15vh;
  text-align: center;
  font-size: 1.5vw;
  /* font-size: 1.5vh; */
  font-weight: 400;
  padding: 2vh 3vh 5vh 3vh;
  margin-left: 40vh;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  /* padding: 3vh; */
  /* margin-top: 7vh; */
}

.hero-text h3 {
  margin-top: 5vh;
}
.hero-text h3 span {
  font-size: 2vw;
  /* margin-left: 1vw; */
  background-color: var(--forest-green);
  /* padding-left: 1vh; */
}

/* .hero-btn-bdr {
  border: var(--olive-green) .5vh solid;
} */


.hero-button {
  /* position: relative; */
  /* margin-left: 10vw;
  margin-top: 55vh; */
  /* width: 15vh;
  font-size: 2.25vh;
  font-weight: 500;
  color: var(--olive-green);
  cursor: pointer; 
  border: var(--olive-green) .5vh solid;
  background-color: transparent;
  z-index: 2;
  letter-spacing: .15vh; */
}
/* 
.hero-button:hover {
  border: var(--olive-green) .5vh solid;
  box-shadow: 0px 4px 4px 0px #000;
  transition: ease;
}

.hero-button:active {
  box-shadow: 0 5px #000;
  transform: translateY(4px);
} */


/***Posts***/

.posts {
  background-color: var(--olive-green);
  width: 100vw;
  height: 100vw;
  margin-top: 20vh;
}

.postcards {
  padding-left: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vw; */
}

.pc-image {
  width: 35vw;
  height: 30vw;
  background: url(./images/rice-fields-ind.jpeg) no-repeat center;
  background-size: cover;
  border: solid #fff .5vh;
  /* margin-left: 40vw; */
}

.postcard {
  /* position: absolute;
  translate: ; */
  position: absolute;
  margin-right: 65vw;
  margin-top: 10vh;
  width: 35vw;
  height: 30vw;
  background-color: #fff;
}

.vertical {
  border-left: 5px solid black;
  height: 200px;
}

/*****Media Query ****/




@media screen and (max-width: 480px) {

  /***hero***/
  .hero-img {
    width: 80vw;
    height: 70vh;
    transform: translate(3vw, 2vh);
  }
  .hero-text {
    text-align: center;
    margin-left: 10vw;
  }
  .hero-text h2 {
    width: 60vw;
  }
  .hero-text h2 span {
    font-size: 9vw;
  }
  .hero-text h4 {
     background-color: var(--olive-green);
     border: var(--light-olive-green) .5vh solid;
     font-size: 3vw;
     width: 60vw;
     text-align: center;
  }
  .hero-text h3 {
    width: 60vw;
  }
  .hero-text h3 span {
    font-size: 4vw;
   
  }
  .hero-button {
    width: 30vw;
    background-color: var(--light-olive-green);
  }


}

@media screen and (min-width: 480px) {
  nav ul {
    display: flex;
    justify-content: space-around;
    align-self: center;
  }
}
