/*****FONTS****/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/***** Globals *****/
h1 {
  color: blueviolet;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  /* background-color: #F5F1E7; */
  padding: 0;
  margin: 0;
}

:root {
  --forest-green: #21451B;
  --light-olive-green: #B8C6A5;
  --beige: #D9CAB3;
  --sand: #C08457;
  --text: #36454F;
}


/*****NAVBAR****/

.logo-img {
  position: absolute;
  width: 15vw;
  transform: translate(10vw, -13vh);
  /* margin-left: 10vh; */
  z-index: 2;
}

.social-icons {
  position: absolute;
  transform: translate(80vw, -0vh);
  margin-left: 1vh;
}
.socialIcon {
  width: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.socialIcon:hover {
  border: var(--sand) .5vh solid;
}
.layoutBody {
margin-top: 8vh;
}

.navBar {
  width: 80vw;
}

nav {
  margin-left: 25vw;
  background-color: var(--light-olive-green);
  z-index: 1;
}

nav li {
  /* font-family: "Merriweather", serif; */
  list-style-type: none;
  background-color: transparent;
  border: .5vh solid transparent;
  margin: 2vh;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
  font-size: 1vw;
}
.home {
  display: none;
}
nav li:hover {
  border: var(--sand) .5vh solid;
  transition: none;
}
.active {
  border: var(--sand) .5vh solid;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

/***** Home hero *****/


.hero {
  margin-top: 4vh;
  position: relative;
  background: url(./images/mae-hong-son.jpeg) no-repeat bottom;
  background-size: cover;
  /* width: 100vw; */
  height: 80vh;
  z-index: 0;
}

.overlay {
  position: absolute;
  height: 81vh;
  /* width: 100vw; */
  background-color: rgba(33, 69, 27, 0.1);
}

.hero-text {
  color: #fff;
  position: absolute;
  z-index: 2;
  padding-top: 10vh;
  padding-left: 5vw;
}

.hero-text span {
  font-family: "Merriweather", serif;
  font-weight: 100;
  color: var(--beige);
}

.hero-text h2 {
  margin-left: 8vw;
  font-family: "Merriweather", serif;
  font-weight: 100;
  width: 44vw;
  color: var(--beige);
  background-color: var(--forest-green);
  font-size: 2.5vw;
}
.rn-span {
 font-size: 4vw; 
 text-decoration: underline;
 text-decoration-thickness: 3px;
}

.hero-text h4 {
  border: var(--beige).75vh solid;
  width: 15vw;
  height: 10vh;
  text-align: center;
  font-size: 1vw;
  font-weight: 400;
  /* padding: 3vh 5vh; */
  padding: 3vh 3vh 5vh 3vh;
  margin-left: 25vw;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.hero-text h3 {
  margin-top: 7vh;
  margin-left: 20vw;
}
.hero-text h3 span {
  font-size: 1.5vw;
  background-color: var(--forest-green);
}

.hero-button {
  width: 10vw;
  color: white;
  background-color: rgba(192,132,87,0.5);
  border: #fff 0.2vh solid;
  font-size: 2.5vh;
  margin-left: 40vw;
  margin-top: 5vh;
  cursor: pointer;
}

.hero-button:hover {
  /* border: var(--olive-green) .5vh solid; */
  box-shadow: 0px 4px 4px 0px var(--text);
  transition: ease;
  background-color: rgba(192,132,87,0.75);
}

.hero-button:active {
  box-shadow: 0 5px #000;
  transform: translateY(4px);
}


/***Posts***/

.posts {
  background-color: var(--olive-green);
  /* width: 100vw; */
  height: 100vw;
  /* margin-top: 20vh; */
}

.postcards {
  /* padding-left: 15vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vw; */
}

.pc-image {
  /* width: 35vw; */
  height: 30vw;
  background: url(./images/rice-fields-ind.jpeg) no-repeat center;
  background-size: cover;
  border: solid #fff .5vh;
  /* margin-left: 40vw; */
}

.postcard {
  /* position: absolute;
  translate: ; */
  position: absolute;
  /* margin-right: 65vw;
  margin-top: 10vh; */
  width: 35vw;
  height: 30vw;
  background-color: #fff;
}

.vertical {
  border-left: 5px solid black;
  height: 200px;
}

/* ****Media Query ****/

@media screen and (max-width: 480px) {
  .logo-img {
    padding-top: 3vh;
    width: 50vw;
  }
  nav {
    width: 100vw;
    min-height: 5vh;
    margin: -1vh 0 0 0;
    text-align: center;
    padding: 1vh;
  }
  .navBar {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 10vh;
    
  }
  .nav-link {
    font-size: 4.5vw;
    font-weight: 600;
  }

  nav ul.open {
    display: none;
  }

  .socialIcon {
    width: 3vh;
  }
  nav .menu {
    display: flex;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
   padding-top: 2.5vh;
   padding-left: 5vh;
  }

  /*** hero ***/
  .hero {
    background: url(./images/mae-hong-son.jpeg) no-repeat top;
    background-size: cover;
    height: 100vh;
    z-index: 0;
  }
  .hero-text {
    text-align: center;
  }
  .hero-text h2 {
    width: 60vw;
    font-size: 7vw;
  }
  .hero-text h2 span {
    font-size: 15vw;
    display: flex;
  }
  .hero-text h4 {
    font-size: 4vw;
    width: 60vw;
    text-align: center;
    /* padding: 0; */
    margin: 4vh;
    /* display: ; */
 }
 .hero-text h3 {
   width: 60vw;
 }
 .hero-text h3 span {
   font-size: 4vw;
  
 }
 .hero-button {
  margin: 0 0 0 15vh;
   width: 30vw;
   background-color: var(--light-olive-green);
 }
}



@media screen and (min-width: 481px) {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* 
@media screen and (max-width: 480px) {
  .hero-img {
    width: 80vw;
    height: 70vh;
    transform: translate(3vw, 2vh);
  }
  .hero-text {
    text-align: center;
    margin-left: 10vw;
  }
  .hero-text h2 {
    width: 60vw;
  }
  .hero-text h2 span {
    font-size: 9vw;
  }
  .hero-text h4 {
     background-color: var(--olive-green);
     border: var(--light-olive-green) .5vh solid;
     font-size: 3vw;
     width: 60vw;
     text-align: center;
  }
  .hero-text h3 {
    width: 60vw;
  }
  .hero-text h3 span {
    font-size: 4vw;
   
  }
  .hero-button {
    width: 30vw;
    background-color: var(--light-olive-green);
  }


} */

/* @media screen and (min-width: 480px) {
  nav ul {
    display: flex;
    justify-content: space-around;
    align-self: center;
  }
} */
